<<<<<<< HEAD
*{
    font-family: Arial, Helvetica, sans-serif;
}

/*body{
    background-image: url("../Imagenes/hello\ world.PNG");
}*/

.ppp{
    font-family: cursive;
    color: rgba(46, 56, 199, 0.767);
    text-align: center;
}

#texto{
    color: rgb(200,150,220);
    text-align: center;
    background-color: rgba(46, 56, 199, 0.767);
}


.izquierda{
    color: rgba(187, 40, 216, 0.534);
}

p.izquierda{
    text-decoration: underline;
    text-align: left;
}

.IZ{
    text-align: left;
}

p#titule{
    background-color: aqua;
}

.negra{
    background-color: rgba(40, 216, 55, 0.719);
}

h1, h2, p{
    font-weight: bold;
}

.fecha{
    background-color: rgba(40, 210, 216, 0.719);
}

.piepag{
    font-size: medium;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.767);
}
/*test
*{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 20px;
}

.colorRojo{
    color: red;
}

.colorRGB{
    color: rgb(93, 113, 218);
}

.colorRGBA{
    color: rgba(223, 55, 25, 0.363);
}

.colorHEX{
    color: #EE43E3;
}

.colorHSL{
    color: hsl(30, 68%, 31%);
=======
*{
    font-family: Arial, Helvetica, sans-serif;
}

/*body{
    background-image: url("../Imagenes/hello\ world.PNG");
}*/

.ppp{
    font-family: cursive;
    color: rgba(46, 56, 199, 0.767);
    text-align: center;
}

#texto{
    color: rgb(200,150,220);
    text-align: center;
    background-color: rgba(46, 56, 199, 0.767);
}


.izquierda{
    color: rgba(187, 40, 216, 0.534);
}

p.izquierda{
    text-decoration: underline;
    text-align: left;
}

.IZ{
    text-align: left;
}

p#titule{
    background-color: aqua;
}

.negra{
    background-color: rgba(40, 216, 55, 0.719);
}

h1, h2, p{
    font-weight: bold;
}

.fecha{
    background-color: rgba(40, 210, 216, 0.719);
}

.piepag{
    font-size: medium;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.767);
}
/*test
*{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 20px;
}

.colorRojo{
    color: red;
}

.colorRGB{
    color: rgb(93, 113, 218);
}

.colorRGBA{
    color: rgba(223, 55, 25, 0.363);
}

.colorHEX{
    color: #EE43E3;
}

.colorHSL{
    color: hsl(30, 68%, 31%);
>>>>>>> 879a039f90371f9a0891de2e88253cbc384fe6d3
*/